# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=EStatements
MONGODB_COLLECTION=Statements

# SQL Server (Stmt_Request_Queue)
MSSQL_SERVER=localhost\SQLEXPRESS02
MSSQL_DATABASE=Statements
MSSQL_USER=sa
MSSQL_PASSWORD=your_password_here
# MSSQL_PORT=49172
# MSSQL_URL=Server=127.0.0.1,49172;Database=Statements;User Id=sa;Password=...;TrustServerCertificate=True;Encrypt=false

# Queue pipeline
MACHINE_ID=PSG-BSD-SAEED1
QUEUE_BATCH_SIZE=100
POLL_INTERVAL_MS=500
MSSQL_BATCH_SIZE=50
